

ul {
    list-style: none;
    text-decoration: none;
}


body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    line-height: 30px;
    font-weight: 400;

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 999;
    padding: 15px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    top: 0;
    max-height: 100vh;
}

.custom-container {
    padding-left: 50px;
    padding-right: 50px;
}


.sidebar-btn {
    color:white ;
    background: #1C2E5A;
    /*padding-right: 40px;*/
    /*padding-top: 20px;*/
}

.language-select {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B5B5B5;
    border-right: 1px solid #C7C7C7;
    padding-right: 25px;
}

.language-link {
    display: inline-block;
    text-decoration: none;
    color: #B5B5B5;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 10px;
}

.notification {
    padding-left: 25px;
}

.user-div {
    padding-right: 150px;
}

.user-info {
    padding-top: 3px;
    padding-right: 10px;
    line-height: 6px;
}

.user-info h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1C2E5A;
}

.user-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #C7C7C7;
}

/* ============start sidebar=========== */
.container-page {
    display: flex;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 140px;
    padding-left: 15px;
    background-color: #F8F8F8;
    width: 250px;
    height: 100vh;
}

.navv{
    list-style: none;
    padding-bottom: 60px;
    border-bottom: 1px solid #C7C7C7;
}

.nav-item{
    margin-bottom: 10px;
    padding-right: 0;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.nav-item .nav-link span {
    padding-right: 5px;
}
.sidebar-text{
    color:  #7E7E7E;
}
.logout {
    position: fixed;
    bottom: 10px;
    width: 200px;
}

.logout span {
    color: #EE4D42 !important;
    text-decoration: none;

}
@media (max-width: 767.98px) {
    .navbar {
        width: 100%;
        /*padding-top: 150px;*/
        padding: 110px 50px 15px 15px;
        height: auto;

    }

    .logout {
        position: static;
        margin-top: 20px;
    }
}



/* ============End sidebar===========  */


.content .main-container {
    width: 100%;
    padding-right: 100px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;

}

.content {
    /*position: relative;*/
    flex: 1;
    padding-top: 125px;
    padding-right: 250px;
    /*padding-bottom: 20px;*/
}

@media (max-width: 767.98px) {
    .content {
        padding-top: 200px;
        padding-right: 0;
        padding-left: 0;
    }

    .content .main-container {
        width: 100%;
        text-align: center;
        padding-right: 20px;
        margin-right: auto;
        margin-left: auto;
        background: white;

    }

}

.main-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 52px;
    color: #26B195;

}

.title-sec .link {
    text-decoration: none;
    color: #7E7E7E !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.title-sec span {
    color: #26B195;
}

.content .inst-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    color: #1C2E5A;
    padding-top: 50px;
}


/* ==============start stepper=========== */
.stepper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto 8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2.5rem;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    position: relative;
}

.step-num {
    font-size: 0.9rem;
    color: #7e7e7e;
}

.step-circle {
    box-sizing: content-box;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background-color: #7e7e7e;
    margin: 0 auto;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-circle path {
    fill: #7e7e7e;
}

.step-line {
    flex-grow: 1;
    height: 5px;
    background-color: #e9e9e9;
    margin-top: 1.6rem;
}

.active-step .step-circle {
    border: #cfeee8 5px solid;
    background-color: #26b195;
}

.active-step .step-num,
.active-step .step-title {
    color: #26b195;
}

.active-step .step-circle path {
    fill: #fff;
}

/* style the line div directly after the active step */
.active-step + .step-line {
    background-color: #26b195;
}

.step-title {
    position: absolute;
    top: 3.5rem;
    font-size: 0.9rem;
    color: #7e7e7e;
    font-weight: 700;
    text-align: center;
    min-width: 132px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-bottom: 0.5rem;
}

.current-step .step-circle {
    border: none;
    background-color: #26b195;
}

.current-step .step-num,
.current-step .step-title {
    color: #26b195;
}

.current-step .step-circle path {
    fill: #26b195;
}

@media (max-width: 1200px) {
    .stepper-container {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
    }

    .step-title {
        font-size: 0.8rem;
        min-width: 100px;
    }
}

@media (max-width: 768px) {
    .stepper-container {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    .step-title {
        font-weight: 400;
        min-width: fit-content;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}

/*============ end stepper =========*/


/*============= start form========== */


.hold-form {
    margin: 30px 0;
}

.hold-form .form-control,
.hold-form .form-control::placeholder {
    color: #1c2e5aa2;
    font-size: 16px;
}


.hold-form .form-group,
.hold-form .input-group {
    margin-bottom: 20px;
}


.inputs-50 .form-group,
.inputs-50 .input-group {
    width: 50%;
}

.hold-form .form-group label {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1C2E5A;
}

.hold-form .form-group .form-control,
.hold-form .input-group .form-control {
    color: #1c2e5a;
    min-height: 50px !important;
    padding: 5px 15px;
    background-color: #F1F1F1;
    box-shadow: none;
    border: 1px solid #26B195;
    border-radius: 25px;
}

.form-foot {
    margin-bottom: 3.5rem;
    padding-top: 20px;
    width: 50%;
    padding-right: 10px;
}

@media (max-width: 767.98px) {
    .form-foot {
        width: auto;
    }
}

.checkbox-container {
    gap: 0.5rem;
    padding-bottom: 10px;

}

.checkbox-container input {
    margin-top: 5px;
    width: 1.1rem;
    height: 1.1rem;
    border: 1px solid #26b195;
}

.checkbox-container label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #080D1B;

}

.toggle {
    padding-bottom: 10px;
}

.toggle label {
    padding-left: 10px
}

input[type="checkbox"]:checked {
    border-color: #26B195;
}

input[type="checkbox"] {
    /* Hide the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Create a custom checkbox */
    width: 16px;
    height: 16px;
    border: 1px solid #26B195;
    outline: none;
}

input[type="checkbox"]:checked {
    border-color: #26B195;
}

input[type="checkbox"]:checked:before {
    content: "✔";
    display: block;
    line-height: 14px;
    text-align: center;
    color: white;
    background: #26B195;
}

input[type="radio"] {
    /* Hide the default radio button */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Create a custom radio button */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #26B195;
    outline: none;
}

input[type="radio"]:checked,
input[type="radio"]:checked + label {
    /* Change the border color of the checked radio button */
    border-color: #26B195;
}

input[type="radio"]:checked + label {
    /* Change the color of the label when the radio button is checked */
    color: #26B195;
}

input[type="radio"]:checked:before {
    /* Add a dot inside the checked radio button */
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #26B195;
    border-radius: 50%;
    margin: 3px auto;
}

.button-container {
    display: flex;
    padding-bottom: 100px;
}

.prev-btn {
    background: #FFFFFF;
    color: black;
    border: none;
    padding: 10px 55px;
    border-radius: 27.5px;
    margin-right: 10px;
}

.next-btn {
    background: #26B195;
    border-radius: 27.5px;
    color: white;
    border: none;
    padding: 10px 55px;
}


/* ===========start footer ===========*/
.footer {
    padding: 50px 0;
}

.footer-container {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;

}

.footer .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #D8D8D8;
    padding-top: 30px;
    margin-left: 20px;


}

.footer .contact .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    color: #7E7E7E;
}

.foot-content {
    color: #676767;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;

}

.footer .copyright {
    color: #676767;
    margin-bottom: 0;
    font-size: 14px;
    width: 120%;
}

.media {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-us {
    text-decoration: none;
}

.active {
    color: #26B195;
}

.links-menu {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.links-menu a {
    font-size: 14px;
    color: #26B195;
    transition: .3s;
    opacity: 1;
    text-decoration: none;

}


@media (min-width: 768px) {
    .contact {
        flex-wrap: nowrap;
    }

    .info {
        flex: 0 0 auto;
        margin-bottom: 0;
    }

    .social-media {
        flex: 0 0 auto;
    }
}

